<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>
   
    <div id="app">
        <table>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
                <th>Data urodzenia</th>
            </tr>
            <tr v-for="uczestnik in uczestnicy" :key="uczestnik.id">
                <td>{{ uczestnik.id }}</td>
                <td>{{ uczestnik.imię }}</td>
                <td>{{ uczestnik.nazwisko }}</td>
                <td>{{ uczestnik.wiek }}</td>
                <td>{{ uczestnik.data_urodzenia }}</td>
            </tr>
        </table>

        <form @click.prevent="add">
            <input v-model="Id">
            <input v-model="Imię">
            <input v-model="Nazwisko">
            <input v-model="Wiek">
            <input v-model="Data_urodzenia">
            <button>Dodaj</button>
          </form>
        
    </div>

     <script src="main.js"></script>
</body>
</html>